
<div class="content-wrapper">
    <!-- Panel Menu  -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-Red">Menu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Codigo principal -->
    <section class="content">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- Div de empleados -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3></h3>

                            <p>Empleados</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="empleados" class="small-box-footer">Continuar <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- Div de Clientes -->
                <div class="col-lg-3 col-6">
                    
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3></h3>
                            <p>Clientes</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="clientes" class="small-box-footer">Continuar <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- Div Habitaciones-->
                <div class="col-lg-3 col-6">
                   
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3></h3>

                            <p>Habitaciones</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="habitaciones" class="small-box-footer">Continuar <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                </section>
                <section class="col-lg-5 connectedSortable">
                </section>
            </div>
        </div>
    </section>
</div>
<!-- Final de codigo -->